DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/rehlaty?retryWrites=true&w=majority&serverSelectionTimeoutMS=5000&connectTimeoutMS=5000"

AUTH_SECRET="<48 bytes random: node -e \"console.log(require('crypto').randomBytes(48).toString('base64url'))\">"
